*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: 'Times New Roman', Times, serif;
}

.container{
    max-width: 1100px;
    margin: 30px auto;
    background: #f4f4f4;
    height: 600px;
}
.item{
    background-color: orange;
    padding: 1rem;
    border: 1px solid #333;
    text-align: center;
}
/* @media (max-width:500) {
    .item-grid{
        display: grid;
        grid-template-columns: 1fr;
    }
} */
.item-grid{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(100px,1fr)); */
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 50px);
    /* justify-content: space-around; */
    /* align-content: end; */
    /* justify-items: stretch; */
    /* align-items: center; */
    place-content: center;
    /* grid-auto-rows: 20px; */
    /* grid-column-gap: 20px;
    /* grid-row-gap: 30px; */
    /* grid-gap: 20px; */
    /* gap: 20px; */
}